In [1]:
import os
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv("../clean_adhd.csv")

In [4]:
set(df['dx'])

{'0', '1', '2', '3', 'pending'}

In [5]:
use_df = df[df['dx']!='pending'].reset_index()

In [6]:
use_df

,index,file,id,age,sex,dx,site,new_name,old_name
0,0,sub-0016060_ses-1_task-rest_run-1_acq-1_space-...,16060,17.16,1.0,0,7,adhd_00000,16060
1,1,sub-0010026_ses-1_task-rest_run-1_space-templa...,10026,11.73,1.0,1,5,adhd_00001,10026
2,2,sub-1043241_ses-1_task-rest_run-1_acq-1_space-...,1043241,9.12,1.0,0,3,adhd_00002,1043241
3,3,sub-3470141_ses-1_task-rest_run-2_space-templa...,3470141,8.50,1.0,1,6,adhd_00003,3470141
4,4,sub-1780174_ses-1_task-rest_run-1_space-templa...,1780174,11.18,1.0,1,5,adhd_00004,1780174
...,...,...,...,...,...,...,...,...,...
1229,1255,sub-0010058_ses-1_task-rest_run-1_space-templa...,10058,14.20,1.0,0,5,adhd_01255,10058
1230,1256,sub-0016037_ses-1_task-rest_run-1_acq-1_space-...,16037,14.15,1.0,0,7,adhd_01256,16037
1231,1257,sub-1679142_ses-1_task-rest_run-2_space-templa...,1679142,10.33,1.0,0,6,adhd_01257,1679142
1232,1258,sub-1023964_ses-1_task-rest_run-2_space-templa...,1023964,8.29,1.0,3,5,adhd_01258,1023964
1233,1259,sub-0010066_ses-1_task-rest_run-2_space-templa...,10066,13.90,0.0,0,5,adhd_01259,10066

In [9]:
names = np.array(use_df['new_name'])
sites = np.array(use_df['site'])
labels = np.array([0 if f == 0 else 1 for f in use_df['dx'] ])

In [10]:
from sklearn.model_selection import StratifiedShuffleSplit

In [11]:
sss = StratifiedShuffleSplit(n_splits=1, test_size=0.3, random_state=42)
for train_index, test_index in sss.split(names, sites):
    train_names = names[train_index]

In [13]:
is_train = []
for name in use_df['new_name']:
    if name in train_names:
        is_train.append(1)
    else:
        is_train.append(0)

In [15]:
use_df['is_train'] = is_train

In [16]:
use_df

,index,file,id,age,sex,dx,site,new_name,old_name,is_train
0,0,sub-0016060_ses-1_task-rest_run-1_acq-1_space-...,16060,17.16,1.0,0,7,adhd_00000,16060,1
1,1,sub-0010026_ses-1_task-rest_run-1_space-templa...,10026,11.73,1.0,1,5,adhd_00001,10026,0
2,2,sub-1043241_ses-1_task-rest_run-1_acq-1_space-...,1043241,9.12,1.0,0,3,adhd_00002,1043241,0
3,3,sub-3470141_ses-1_task-rest_run-2_space-templa...,3470141,8.50,1.0,1,6,adhd_00003,3470141,0
4,4,sub-1780174_ses-1_task-rest_run-1_space-templa...,1780174,11.18,1.0,1,5,adhd_00004,1780174,1
...,...,...,...,...,...,...,...,...,...,...
1229,1255,sub-0010058_ses-1_task-rest_run-1_space-templa...,10058,14.20,1.0,0,5,adhd_01255,10058,1
1230,1256,sub-0016037_ses-1_task-rest_run-1_acq-1_space-...,16037,14.15,1.0,0,7,adhd_01256,16037,1
1231,1257,sub-1679142_ses-1_task-rest_run-2_space-templa...,1679142,10.33,1.0,0,6,adhd_01257,1679142,0
1232,1258,sub-1023964_ses-1_task-rest_run-2_space-templa...,1023964,8.29,1.0,3,5,adhd_01258,1023964,1
1233,1259,sub-0010066_ses-1_task-rest_run-2_space-templa...,10066,13.90,0.0,0,5,adhd_01259,10066,1

In [20]:
use_df['new_dx'] = [0 if f == '0' else '1' for f in use_df['dx'] ]

In [21]:
use_df.to_csv('use_adhd.csv',index=None)